@charset "utf-8";
/* CSS Document */
@media only screen and (max-width:1600px){
	.fs_16, .indexAL p {font-size:1.6rem;}
	.fs_20 {font-size:2.4rem;}
	.fs_22 {font-size:20px;}
	.fs_24 {font-size:22px;}
	.fs_26 {font-size:24px;}
	.fs_28 {font-size:26px;}
	.fs_30, .indexAL h1, .aboutT, .products h1, .products_sub h1, .news h1, .contact h1 {font-size:3.2rem;}
	.fs_32 {font-size:30px;}
	.fs_34 {font-size:32px;}
	.fs_36 {font-size:34px;}
	.fs_38 {font-size:36px;}
	.fs_40 {font-size:38px;}
    .bannerCT {font-size: 53px;}
    .row_fd_r16, .row_fw_nw16, .row_fw_w16 {display:block;}
    .contactCFBtn {padding: 60px 0 130px 0;}
}
/*1600px_spc_end*/


@media only screen and (max-width:1400px){
	.fs_20 {font-size:1.6rem;}
	.fs_22 {font-size:18px;}
	.fs_24 {font-size:2.4rem;}
	.fs_26 {font-size:22px;}
	.fs_28 {font-size:24px;}
	.fs_30, .indexAL h1, .aboutT, .products h1, .products_sub h1, .news h1, .contact h1, .main-faq h1 {font-size:26px;}
	.fs_32 {font-size:28px;}
	.fs_34 {font-size:30px;}
	.fs_36 {font-size:32px;}
	.fs_38 {font-size:34px;}
	.fs_40 {font-size:36px;}
    .row_fd_r14, .row_fw_nw14, .row_fw_w14 {display:block;}
    .bannerCT {font-size: 51px;}
    .ind_P .owl-prev {left: -20px;}
    .ind_P .owl-next {right: -20px;}
    .goTop {right: 0px;}
    .aboutPa {background: url("../images/a_02a.jpg") no-repeat 100% 21.5%; background-size: 30.65%;}
    .contactCFBtn {padding: 50px 0 110px 0;}
}
/*1400px_nb_end*/


@media only screen and (max-width:1200px){
	.fs_20 {font-size:14px;}
	.fs_22 {font-size:16px;}
	.fs_24 {font-size:18px;}
	.fs_26 {font-size:20px;}
	.fs_28 {font-size:22px;}
	.fs_30, .indexAL h1, .aboutT, .products h1, .products_sub h1, .news h1, .contact h1 {font-size:24px;}
	.fs_32 {font-size:26px;}
	.fs_34 {font-size:28px;}
	.fs_36 {font-size:30px;}
	.fs_38 {font-size:32px;}
	.fs_40 {font-size:34px;}
    .row_fd_r12, .row_fw_nw12, .row_fw_w12 {display:block;}
    .sjj_nav_ul > li {padding: 0 27px;}
    .bannerCT {font-size: 49px;}
    .indexAL {padding: 50px 40px}
    /*.indexAL h1 {margin-top: 50px;}
    .indexAL .btn_a {margin-bottom: 50px;}*/
    .ind_P .owl-prev {left: 0px;}
    .ind_P .owl-next {right: 0px;}
    .goTop {right: 20px;}
    .aboutPa {background: url("../images/a_02a.jpg") no-repeat 100% 3%; background-size: 30.65%; opacity: 0.6; filter: alpha(opacity=60);}
    .products_subTRI li {width: 50%;}
    .products_subTRBtn {justify-content: center;}
    .dte_9_list {width: 50%;}
    .contactCTL {padding: 0 4.387% 0 0;}
    .contactCTR {padding: 0 0px 0 0;}
    .contactCFBtn {padding: 40px 0 90px 0;}
}
/*1200px_xl_end*/


@media only screen and (max-width:992px){
    .mobile {display:block;}.pc {display:none;}
    .rotate_360:hover img {text-decoration:none; -moz-transform:rotate(0deg); -webkit-transform:rotate(0deg); -o-transform:rotate(0deg); -ms-transform:rotate(0deg); transform:rotate(0deg);}
    .alpha_60 img, .alpha_60:hover img {filter:alpha(opacity=100);Opacity:1.0;}
    .scale_3 img, .scale_3:hover img, .scale_05 img, .scale_05:hover img {transform: scale(1.0, 1.0);}
	.fs_16 {font-size:1.823vw;}
	.fs_18 {font-size:2.083vw;}
	.fs_20 {font-size:2.344vw;}
	.fs_22 {font-size:2.604vw;}
	.fs_24, .indexAL h1 {font-size:2.865vw;}
	.fs_26 {font-size:3.125vw;}
	.fs_28 {font-size:3.385vw;}
	.fs_30, .aboutT, .products h1, .products_sub h1, .news h1, .contact h1 {font-size:3.646vw;}
	.fs_32 {font-size:3.906vw;}
	.fs_34 {font-size:4.167vw;}
	.fs_36 {font-size:4.427vw;}
	.fs_38 {font-size:4.688vw;}
	.fs_40 {font-size:4.948vw;}
    .row_fd_r9, .row_fw_nw9, .row_fw_w9 {display:block;}
	.ht_15 {height:10px; font-size:0px; line-height:0px;}
	.ht_20 {height:15px; font-size:0px; line-height:0px;}
	.ht_25 {height:20px; font-size:0px; line-height:0px;}
	.ht_30 {height:25px; font-size:0px; line-height:0px;}
	.ht_40 {height:35px; font-size:0px; line-height:0px;}
	.ht_50 {height:45px; font-size:0px; line-height:0px;}
	.ht_60 {height:55px; font-size:0px; line-height:0px;}
    .slideTable {display: block;}
    #content {padding: 40px 0 0 0;}
    .logo {width: 106px; margin-top: -15px;}
    .top-barC {height: 40px; box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);}
    .bannerP.scale_05{right: 5%; width: 50%; padding: 0;}
    .bannerCT {font-size: 6.112vw;}
    .banner .owl-dots {bottom: 25px;}
    .indexAL {width: 57%; padding: 20px 20px;}
    /*.indexAL h1 {margin-top: 20px;}
    .indexAL .btn_a {margin-bottom: 20px;}*/
    .indexAL p {font-size: 15px;}
    .indexAR {width: 43%;}
    .ind_A .owl-nav {top: 44%;}
    .ind_ACC > div {left: 30px; right: 30px;}
    .ind_ACCT {margin-bottom: 3.125%;}
    .ind_ACCC {line-height: 160%;}
    .aboutCBL {width: 235px; padding-right: 35px;}
    .aboutCBR {width: calc(100% - 235px); padding: 0 0 25px 40px;}
    .aboutCBR:last-child {padding: 0 0 15px 40px;}
    .productsCA li {width: 33.33%;}
    .productsClassL {margin: 0 2.63% 55px 0;}
    .productsClassL:nth-child(3n+3), .productsClassL:last-child {margin: 0 0 75px 0;}
    .productsClassTL h2 {margin-bottom: 15px;}
    .productsClassTL li {width: 100%;}
    .productsListL, .productsListL:nth-child(4n+4) {width: 32%; margin: 0 2% 55px 0;}
    .productsListL:nth-child(3n+3), .productsListL:last-child {margin: 0 0 55px 0;}
    .products_subTRI {display: block;}
    .products_subTRI li {width: 100%; padding: 15px 0 0px 0; display: flex; flex-wrap: wrap; align-items: center;}
    .products_subTRIP {width: 60px; padding-bottom: 60px; margin: 0;}
    .products_subTRIT {width: calc(100% - 60px); max-width: inherit; text-align: left; padding: 0 10px;}
    .dte_9_list {width: 100%; padding: 15px 0 0px 0; display: flex; flex-wrap: wrap; align-items: center;}
    .dte_9_pic {width: 60px; padding-bottom: 0px; margin: 0;}
    .dte_9_text {width: calc(100% - 60px); max-width: inherit; text-align: left; padding: 0 10px;}
    .btn_c:link, .btn_c:visited {width: 140px;}
    .btn_c::before {margin-right: 15px;}
    .newsListLR {padding-left: 30px;}
    .contactCFR {padding: 0 0px 0 0;}
    .contactCFBtn {padding: 30px 0 70px 0;}
}
/*992px_lg_end*/


@media only screen and (max-width:768px){
    .fs_16 {font-size: 2.431vw;}
    .fs_18 {font-size: 2.778vw;}
    .fs_20 {font-size: 3.125vw;}
    .fs_22 {font-size: 3.472vw;}
    .fs_24, .indexAL h1 {font-size: 3.819vw;}
    .fs_26 {font-size: 4.167vw;}
    .fs_28 {font-size: 4.514vw;}
    .fs_30, .aboutT, .products h1, .products_sub h1, .news h1, .contact h1 {font-size: 2.2rem;}
    .fs_32 {font-size: 5.208vw;}
    .fs_34 {font-size: 5.556vw;}
    .fs_36 {font-size: 5.903vw;}
    .fs_38 {font-size: 6.25vw;}
    .fs_40 {font-size: 6.597vw;}
    .row_fd_r7, .row_fw_nw7, .row_fw_w7 {display:block;}
	.ht_20 {height:10px; font-size:0px; line-height:0px;}
	.ht_25 {height:15px; font-size:0px; line-height:0px;}
	.ht_30 {height:20px; font-size:0px; line-height:0px;}
	.ht_40 {height:30px; font-size:0px; line-height:0px;}
	.ht_50 {height:40px; font-size:0px; line-height:0px;}
	.ht_60 {height:50px; font-size:0px; line-height:0px;}
    .slideTable {background-size: 30%;}
    .banner,
    .banner_Bg{ height: 500px; }
    .bannerC,
    .bannerC_artdeco{ height: 60%; }
    .bannerC_artdeco{ min-width: 180px; mix-blend-mode: darken;}
    .bannerCS{ margin-bottom: 4px; font-size: 1.6rem;}
    .bannerCT {font-size: 6.799vw;}
    .bannerCA { font-size: 4rem;}
    .bannerCN.fs_22{margin-top: 20px; font-size: 1.8rem; }
    .bannerP {width: 100%; text-align: center;}
    .banner .owl-nav {display: block;}
    .indexA {flex-wrap: wrap-reverse;}
    .ind_A .owl-dots {margin-top: 6.512%;}
    .indexAL {width: 100%; padding: 45px 35px;}
    /*.indexAL h1 {margin-top: 45px;}
    .indexAL .btn_a {margin-bottom: 45px;}*/
    .indexAL h1 {margin-bottom: 4%;}
    .indexAL p {margin-bottom: 5%;}
    .indexAR {width: 100%;}
    .indexAR img:nth-child(2) {display: block;}
    .ind_ACCT {margin-bottom: 6.125%;}
    .ind_ACCC {line-height: 200%;}
    .aboutPa {background: url("../images/a_02a.jpg") no-repeat 100% 0%; background-size: 30.65%; opacity: 0.6; filter: alpha(opacity=60);}
    .productsCA li {width: 50%;}
    .productsClassL, .productsClassL:nth-child(3n+3) {width: 48%; margin: 0 4% 55px 0;}
    .productsClassL:nth-child(2n+2), .productsClassL:last-child {margin: 0 0 55px 0;}
    .productsClassTL {width: 100%; padding: 20px 0 40px 0;}
    .productsClassTL li {width: 50%;}
    .productsClassTR {margin: auto;}
    .products_subTL {width: 100%; max-width: 570px; margin: auto; padding-bottom: 6.87%;}
    .products_subTR {width: 100%; padding: 5.495% 0 0 0;}
    .products_subTRI {display: flex;}
    .products_subTRI li {width: 33.33%; padding: 15px 0 10px 0; display: block; flex-wrap: wrap; align-items: center;}
    .products_subTRIP {position: relative; padding-bottom: 35.52%; margin: 0 auto 10px auto; display: block; height: 0px; line-height: 0; font-size: 0;}
    .products_subTRIT {width: 100%;max-width: 140px; margin: auto; text-align: center; padding: 0;}
    .hor_1 .mv {width:90%;}
    .dte_9_list {width: 33.33%; padding: 15px 0 10px 0; display: block; flex-wrap: wrap; align-items: center;}
    .dte_9_pic {position: relative; padding-bottom: 35.52%; margin: 0 auto 10px auto; display: block; height: 0px; line-height: 0; font-size: 0;}
    .dte_9_text {width: 100%;max-width: 140px; margin: auto; text-align: center; padding: 0;}
    .btn_c:link, .btn_c:visited {width: 200px;}
    .btn_c::before {margin-right: 25px;}
    .newsListLL {width: 41%;}
    .newsListLR {width: 59%;}
    .contactCTL {width: 100%; padding: 0 0 4.387% 0;}
    .contactCTR {width: 100%; padding: 0 0 0 0;}
    .contactCFL {width: 100%; padding: 0 0px 0 0;}
    .contactCFR {width: 100%; padding: 0 0px 0 0;}
    .contactCFColC {width: 170px; line-height: 266%; padding: 0 0px 20px 0px;}
    .contactCFBtn {padding: 20px 0 50px 0;}
}
/*768px_md_end*/


@media only screen and (max-width:576px){
    .fs_16 {font-size: 3.256vw;}
    .fs_18 {font-size: 3.721vw;}
    .fs_20 {font-size: 4.186vw;}
    .fs_22 {font-size: 4.651vw;}
    .fs_24, .indexAL h1 {font-size: 5.116vw;}
    .fs_26, .aboutT {font-size: 5.581vw;}
    .fs_28 {font-size: 6.047vw;}
    .fs_30, .products h1, .products_sub h1, .news h1, .contact h1 {font-size: 2.2rem;}
    .fs_32 {font-size: 6.977vw;}
    .fs_34 {font-size: 7.442vw;}
    .fs_36 {font-size: 7.907vw;}
    .fs_38 {font-size: 8.372vw;}
    .fs_40 {font-size: 8.837vw;}
    .row_fd_r5, .row_fw_nw5, .row_fw_w5 {display:block;}
	.ht_25 {height:10px; font-size:0px; line-height:0px;}
	.ht_30 {height:15px; font-size:0px; line-height:0px;}
	.ht_40 {height:25px; font-size:0px; line-height:0px;}
	.ht_50 {height:35px; font-size:0px; line-height:0px;}
	.ht_60 {height:45px; font-size:0px; line-height:0px;}
    .bannerCT {font-size: 9.977vw;}
    .indexAL {padding: 30px 20px;}
    .bannerC::before { min-width: 200px;}
    .bannerCS { font-size: 1.4rem;}
    .bannerCT { font-size: 5vw;}
    .bannerCA { font-size: 3rem;}
    /*.indexAL h1 {margin-top: 30px;}
    .indexAL .btn_a {margin-bottom: 30px;}*/
    .ind_P .owl-nav {margin-top: -18px;}
    .ind_P .owl-prev span::before, .ind_A .owl-prev span::before {content: url("../images/prev_bm.png");}
    .ind_P .owl-next span::before, .ind_A .owl-next span::before {content: url("../images/next_bm.png");}
    .ind_P .owl-prev span:hover::before, .ind_A .owl-prev span:hover::before {content: url("../images/prev_am.png");}
    .ind_P .owl-next span:hover::before, .ind_A .owl-next span:hover::before {content: url("../images/next_am.png");}
    .ind_A .owl-nav {top: 44.5%; margin-top: -18px;}
    .ind_ACC > div {left: 20px; right: 20px;}
    .ind_ACCT {margin-bottom: 3.125%;}
    .ind_ACCC {line-height: 160%;}
    .footer {padding: 7.628% 20px;}
    .aboutPa, .aboutPb {background: none;}
    .aboutCBL {width: 100%; padding: 0 0 15px 40px; text-align: left; border-left: 1px solid #bb1b21;}
    .aboutCBL::after {content: ''; position: absolute; top: 5px; right:auto; left: -8px;}
    .aboutCBR {width: 100%; padding: 0 0 25px 40px;}
    .aboutCBR:last-child {padding: 0 0 15px 40px;}
    .productsCA li {width: 100%;}
    .productsClassL, .productsClassL:nth-child(3n+3) {width: 48%; margin: 0 4% 45px 0;}
    .productsClassL:nth-child(2n+2), .productsClassL:last-child {margin: 0 0 45px 0;}
    .productsBg {display: none;}
    .productsClassTL {padding: 20px 0 30px 0;}
    .productsClassTL li {width: 100%;}
    .productsListL, .productsListL:nth-child(4n+4), .productsListL:nth-child(3n+3) {width: 48%; margin: 0 4% 45px 0;}
    .productsListL:nth-child(2n+2), .productsListL:last-child {margin: 0 0 45px 0;}
    .products_subTRI li {width: 50%;}
    .hor_1 .mv {width:100%;}
    .dte_9_list {width: 50%;}
    .btn_d:active, .btn_d:hover, .btn_e:active, .btn_e:hover, .btn_f:active, .btn_f:hover {font-size: 14px;}
    .newsListLL {width: 100%; max-width: 300px;}
    .newsListLR {width: 100%; padding: 20px 0 0 0;}
    .contactCFBtn .btn_g:nth-child(1):link, .contactCFBtn .btn_g:nth-child(1):visited {width: 47%; margin: 0 3% 0 0%;}
    .contactCFBtn .btn_g:nth-child(2):link, .contactCFBtn .btn_g:nth-child(2):visited {width: 47%; margin: 0 0% 0 3%;}
}
/*576px_sm_end*/


@media only screen and (max-width:430px){
    .fs_16 {font-size: 1.6rem;}
    .fs_18 {font-size: 14px;}
    .fs_20 {font-size: 16px;}
    .fs_22 {font-size: 18px;}
    .fs_24, .indexAL h1 {font-size: 2.4rem;}
    .fs_26 {font-size: 20px;}
    .fs_28 {font-size: 20px;}
    .fs_30, .aboutT, .products h1, .products_sub h1, .news h1, .contact h1 {font-size: 22px;}
    .fs_32 {font-size: 22px;}
    .fs_34 {font-size: 24px;}
    .fs_36 {font-size: 24px;}
    .fs_38 {font-size: 26px;}
    .fs_40 {font-size: 26px;}
	.ht_30 {height:10px; font-size:0px; line-height:0px;}
	.ht_40 {height:20px; font-size:0px; line-height:0px;}
	.ht_50 {height:30px; font-size:0px; line-height:0px;}
	.ht_60 {height:40px; font-size:0px; line-height:0px;}
    .bannerCT {font-size: 3rem;}
    .bannerCN.fs_22{ font-size: 1.6rem; }
    .ind_A .owl-nav {top: 43%;}
    .aboutT::after {margin: 10px 0 0 3px;}
    .aboutCBL::after {top: 0px;}
    .productsClassL, .productsClassL:nth-child(3n+3), .productsClassL:nth-child(2n+2), .productsClassL:last-child {width: 100%; max-width: 360px; margin: 0 auto 40px auto;}
    .productsClassTL {padding: 20px 0;}
    .productsListL, .productsListL:nth-child(4n+4), .productsListL:nth-child(3n+3), .productsListL:nth-child(2n+2), .productsListL:last-child {width: 100%; max-width: 250px; margin: 0 auto 40px auto;}
    .products_subTRI {display: block;}
    .products_subTRI li {width: 100%; padding: 15px 0 0px 0; display: flex; flex-wrap: wrap; align-items: center;}
    .products_subTRIP {width: 60px; padding-bottom: 60px; margin: 0;}
    .products_subTRIT {width: calc(100% - 60px); max-width: inherit; text-align: left; padding: 0 10px;}
    .dte_9_list {width: 100%; padding: 15px 0 0px 0; display: flex; flex-wrap: wrap; align-items: center;}
    .dte_9_pic {width: 60px; padding-bottom: 60px; margin: 0;}
    .dte_9_text {width: calc(100% - 60px); max-width: inherit; text-align: left; padding: 0 10px;}
    .products_subTRBtn {padding: 4.905% 0px 0 0px;}
    .resp-tabs-container {padding: 50px 20px;}
    .btn_c:link, .btn_c:visited {width: 100%; margin-right: 1px;}
    .btn_d:link, .btn_d:visited, .btn_e:link, .btn_e:visited, .btn_f:link, .btn_f:visited {margin: 20px 1px 0 0; width: 32.9%; height: 43px;}
    .btn_d:active, .btn_d:hover, .btn_e:active, .btn_e:hover, .btn_f:active, .btn_f:hover {font-size: 13px;}
    .newsListLL {max-width: 500px;}
    .newsListLL img {width: 100%;}
    .newsListLR .btn_b {width: 100%;}
    .contactCFColA {padding-bottom: 0px;}
    .contactCFColB {width: 100%; padding-bottom: 20px;}
    .contactCFColC {padding: 0 0px 0px 0px;}
}
/*430px_xs_end*/

/*420px*/
@media only screen and (max-width:420px){
.banner, .banner_Bg { height: 400px;}
    .banner_text{padding-left: 40px;}
    .bannerP.scale_05{width: 70%; top: 55%; right: 2%;}
}
/*420px end*/


.blk_in{width: 40%;}
.blk_in2{width: 60%;padding-left: 40px;}
.ae_title{color: #bb1b21;font-weight: bold;}
.ae_text{line-height: 160%;padding-top: 10px;}
.Btext span{font-weight: bold;}
.bigblock{width: 80%;margin: auto;}
.blkall{display: flex}
@media only screen and (max-width:1139px){.bigblock{width: 100%;margin: auto;}}
@media only screen and (max-width:768px){.blk_in {width: 100%;}.blk_in2 {width: 100%;padding-left: 0px;}.blkall{display:block;padding-bottom: 15px;}}
.ae_title span{font-style: italic;padding-right:3px;}